body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}

.container {
  height: 600px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;  /* blue part container ke andar hi रहे */
  position: relative;
}

/* upar ka blue background */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;        /* aadha ya jitna blue chahiye */
  width: 100%;
  background-color: royalblue;
  
}

/* image style */
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  margin-top: 60px;   /* image neeche aaye */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white; /* image ke around white border */
}
.name{
  margin-top: 50px;
  text-align: center;
  
}
.name h2{
  font-size: 20px;
  font-weight: bold;
}
.name p{
  
  color: #666;
  font-size: 14px;
}

.social {
 
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social a {
  display: inline-block;
}
.social img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}
.social img:hover {
  transform: scale(1.2);
}
/* button */
.buttons{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   gap:10px;
  


}
.button{
  background-color: royalblue;
  color: white;
}

.stats {
  display: flex;                  /* ek line me laye */
  justify-content: space-around;  /* barabar gap de */
  align-items: center;            /* vertical center */
  margin: 20px 0;
}

.data {
  text-align: center;
}

.data i {
  font-size: 30px;       /* icon ka size */
  color: royalblue;      /* icon ka color */
  margin-bottom: 5px;
}

.data .number {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.data p {
  margin: 0;
  font-size: 14px;
  color: gray;
}
